header{
    text-align: center;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 36px;
}

main section{
    display: flex;
    align-items: center;
    flex-direction: column;
}